.galButton{
   position: absolute;
   left:72%;
   top:50%;
   background-color: snow;
}

.restHeading{
    color:midnightblue;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:30px;
}

.restImage{
    width:200px;
    height:120px;
    margin-top:5px;

}

.details{
    margin-bottom: 5px;
    box-shadow:5px 5px 5px grey;
    background-color: white;
}