
  .text{
    color:navy;
    font-weight: bold;
    font-size: 20px;
  }

  .tilecontainer{
    background-color:cornsilk; 
    box-shadow: 5px 5px 10px grey;
    margin-left:35px;
    margin-top:10px;
  }

  .tile_img{
    float:left; 
    margin-right:5px; 
    width:180px; 
    height:200px;
  }