.image_con{
  float:left;
  margin:3px 3px 3px 3px;
}

.tilecontainer{
    margin:0;
    border-radius:5px;
    -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 5px 2px grey;
    float:left;
  }
  
  .tilecontainer:hover, .tilecontainer:active{
    background-color:papayawhip;
  }
  
  .txt1{
    font-size:28px; 
    color:darkblue; 
    font-weight: bold;
  }
  
  .txt2{
    font-size:21px; 
    color:darkgrey; 
    font-weight: bold;
  }
