  body{
    background-color:whitesmoke;
  }

  .heading{
    color:whitesmoke; 
    font-weight: bold; 
    font-size: 3vw;
  }

  #close{
    position: absolute;
    top:0.5%;
    left:86%;
    font-size: 30px;
    height:20%;
    width:22%;
  }

  .maincontainer{
    background-image: url('https://i.ibb.co/2jMhsfY/wallpaper1.jpg');
    background-repeat:no-repeat;  
    background-size: cover; 
    background-position: center; 
    height: 420px;
  }


  .text{
    color:navy;
    font-weight: bold;
    font-size: 20px;
  }

  .logo{
    background-color:white; 
    color:midnightblue;
    width:110px; 
    height:110px; 
    border-radius:50%; 
    font-size: 70px; 
    font-weight: bold;
  }

  
.input-box {
  font-size: 14px;
  padding-left: 35px;
  width: 487px;
  height: 45px;
  color: #8c96ab;
  border-radius:5px;
  border:none;
  margin-left: 5px;
}


.search {
  left: 10px;
  color: #8c96ab;
  font-size: 14px;
}

.search-result-restaurant-block{
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  display:none
}
.search-result-image-block{
  display: inline-block;
  margin: 10px 0 10px 20px;
  
}
.search-result-restaurant-details{
  display: inline-block;
  vertical-align: top; 
  margin: 10px 0 10px 20px;
}
.search-result-restaurant-name{
  color: #192f60;
  font-size: 16px;
  font-weight: bold;
}
.search-result-restaurant-address{
  color: #636f88;
  font-size: 12px;
  font-weight: normal; 
  width: 300px;
}
.no-result-block{
  background-color: #fff;
  text-align: left;
  height: 50px;
  padding: 10px;
}
.no-result-message{
  color: #192f60;
  font-size: 16px;
  font-weight: bold;
}